.Gallery__container {
    background-color: #66727d;
    color: white;
    padding: 2vh 3vw;
    text-align: center;
}

.Gallery__image-list {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.Gallery__image-list-item {
    height: auto;
    width: 30%;
}
